@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

li {
  all: unset;
}

.header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 24px 12px 24px;
}

.my-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.headline {
  background-image: url('images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: 100% 125%;
  background-color: #1c1a19;
  width: fit-content;
  height: 50vh;
  min-height: 505px;
  min-width: 350px;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  padding-top: 100px;
}

.headline h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 10px 0;
}

.headline p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.headline ul {
  display: flex;
  padding: 20px;
}

.headline ul li {
  padding: 10px;
}

/* Works section */

.works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  padding: 24px;
  padding-top: 120px;
  margin-bottom: 100px;
}

.works-section .title {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.first-project {
  width: 327px;
  display: grid;
  justify-content: center;
}

.first-project .sub-title {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding-top: 24px;
  padding-bottom: 12px;
}

.first-project .description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.first-project .technologies {
  margin-top: 22px;
  margin-bottom: 34px;
}

.first-project .technologies li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  padding: 10px;
  margin-right: 12px;
  border: 1px solid #8993a4;
}

.first-project button {
  background: #ff6b00;
  width: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
}

.works-card {
  margin-top: 24px;
  display: grid;
  justify-items: center;
}

.card {
  background-image: url('images/works-card-image-mobile.png');
  background-repeat: no-repeat;
  height: 386px;
  width: 327px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 84px;
}

.card h4 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 16px;
}

.card p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 295px;
  margin: 2px 16px;
}

.card .technologies {
  padding: 16px;
}

.card .technologies li {
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
}

.card button {
  background: #ff6b00;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  padding: 12px 0;
  margin-top: 20px;
  width: 100%;
}

/* About me section */

.about-me {
  background: #1c1a19;
  background-image: url('./images/illustration-about-me-mobile.png');
  background-position: 100% 21%;
  background-repeat: no-repeat;
  height: auto;
  min-width: 350px;
  max-width: 375px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

.about-me .introduction {
  padding-bottom: 200px;
  border-bottom: 1px solid #fff;
}

.about-me h4 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 120px;
}

.about-me p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 0;
  padding-right: 60px;
}

.about-me button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: none;
  padding: 12px;
}

.profession {
  width: 100%;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.label-framework {
  gap: 25px;
}

.bullet {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.bullet.diamond {
  transform: rotate(-45deg);
}

.bullet.circle {
  border-radius: 50%;
}

.label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.profession ul {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profession .profession-lists li {
  margin-top: 16px;
}

/* Contact form */

.contact-form {
  min-width: 350px;
  max-width: 375px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.contact-form p {
  width: 327px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form form {
  margin-top: 10px;
}

.form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 300px;
  border: none;
  padding-left: 5px;
  margin-top: 25px;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

input {
  padding-bottom: 14px;
  padding-left: 16px;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  font-weight: 400;
  height: 114px;
  padding: 12px;
  background: #fbf8f7;
  margin-bottom: 24px;
  color: #3c3a39;
}

form .button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  padding: 12px;
  border: none;
}

/* Footer */

footer {
  min-width: 350px;
  max-width: 375px;
  padding: 20px 0;
  margin: 0 auto;
  border-top: 1px solid #dfe1e6;
}

footer .social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .social-links .links {
  padding-right: 15px;
}

footer .border-bottom {
  margin: 0 auto;
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}

/* Items to be displayed none in mobile */
.nav-items {
  display: none;
}

.project-image-desktop {
  display: none;
}

/* button styling */

button {
  transition: all 0.5s ease-out;
}

button:enabled {
  color: #fff;
  background: #f55800;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

button:visited {
  color: #f4f1f0;
  background: #e05304;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  /* header */
  .menu {
    display: none;
  }

  .header {
    margin: 0;
    max-width: 100%;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
  }

  nav {
    width: 40%;
  }

  .nav-items {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
  }

  /* headline */
  .headline {
    max-width: 100%;
    background-image: url('images/Illustration-header@0.5x.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin: 0;
    padding-top: 0;
    justify-content: center;
  }

  .headline p {
    padding-right: 260px;
  }

  /* Work section */
  .works-section {
    max-width: 100%;
  }

  .works-section .work-title {
    width: 85%;
    display: flex;
    justify-items: baseline;
    margin-bottom: 85px;
    border-bottom: none;
  }

  .work-title .title {
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .work-title .border-right {
    display: flex;
    flex: 1;
    height: 0;
    margin-top: 26px;
    border-bottom: 1px solid #212121;
  }

  .first-project {
    min-width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .first-project .content .sub-title {
    font-size: 26px;
    line-height: 24px;
    padding-top: 0;
  }

  .first-project .content .description {
    font-size: 13px;
    line-height: 22px;
  }

  .first-project .technologies {
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .first-project .technologies li {
    font-size: 10px;
    line-height: 20px;
  }

  .first-project button {
    font-size: 12px;
    line-height: 10px;
  }

  .first-project .project-image-mobile {
    padding-right: 10px;
  }

  /* About me section */

  .about-me {
    max-width: 100%;
    background-image: url('images/illustration-about-me@0.5x.png');
    background-repeat: no-repeat;
    background-position: 100% 20%;
    padding-left: 65px;
    margin-top: 0;
  }

  .about-me .introduction {
    padding-bottom: 0;
    border-bottom: none;
  }

  .about-me h4 {
    line-height: 82px;
  }

  .about-me .content {
    font-size: 16px;
    line-height: 29px;
    max-width: 400px;
  }

  .about-me .profession {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid #fff;
    padding-top: 80px;
  }

  .profession .profession-lists {
    display: flex;
    align-items: flex-start;
  }

  @media screen and (min-width: 1024px) {
    /* headline */
    .headline {
      background-image: url('images/Illustration-header@1x.png');
      background-repeat: no-repeat;
      background-position: 100% 75%;
      height: 80vh;
      margin: 0;
      padding-top: 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .headline .content h1 {
      font-size: 72px;
      line-height: 82px;
    }

    .headline .content h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
    }

    .headline .content p {
      width: 43%;
      font-size: 20px;
      line-height: 32px;
    }

    .headline ul {
      flex-direction: column;
      padding: 0 60px 0 0;
    }

    .headline ul li {
      padding: 5px;
    }

    /* Header */
    .header {
      padding: 24px 150px;
    }

    /* Work section */

    .project-image-mobile {
      display: none;
    }

    .project-image-desktop {
      display: flex;
      margin-right: 16px;
    }

    .first-project {
      min-width: 85%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: center;
    }

    .first-project .content .sub-title {
      font-size: 40px;
      line-height: 52px;
      padding-top: 0;
    }

    .first-project .content .description {
      font-size: 20px;
      line-height: 28px;
    }

    .first-project .technologies li {
      font-size: 15px;
    }

    .first-project button {
      font-size: 17px;
      line-height: 24px;
      margin-top: 15px;
    }

    /* Project cards */

    .works-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 24px;
    }

    .works-card button {
      display: none;
    }

    .card {
      width: 369px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 0;
    }

    .card-1 {
      background-image: url('./images/card-1.png');
    }

    .card-1 h4,
    .card-1 .project.description,
    .card-1 ul {
      display: none;
    }

    .card-1 button {
      display: flex;
      justify-content: center;
    }

    .card-2 {
      background-image: url('./images/card-2.png');
    }

    .card-3 {
      background-image: url('./images/card-3.png');
    }

    .card-4 {
      padding-top: 0;
      background-image: url('./images/card-4.png');
    }

    /* about me section */
    .about-me {
      background-image: url('images/illustration-about-me@1x.png');
      background-position: 100% 10%;
    }

    /* Contact form  */

    .contact-form {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: baseline;
      align-items: baseline;
      padding-left: 100px;
    }

    .contact-form .content {
      width: 341px;
      text-align: left;
    }

    .contact-form form ul {
      align-items: flex-start;
    }

    input,
    textarea {
      width: 40vw;
    }

    textarea {
      height: 80px;
    }
  }

  @media screen and (min-width: 1440px) {
    .works-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
    }

    /* About me section */

    .about-me .content {
      font-size: 20px;
      line-height: 32px;
      max-width: 566px;
    }
  }

  /* Footer section */

  footer {
    max-width: 100%;
    border-top: 1px solid #dfe1e6;
  }

  footer .border-bottom {
    display: none;
  }
}

/* Animation and transition */

.nav-items li:hover,
.my-name:hover {
  color: black;
  font-size: 20px;
  transition: background-color 2s, font-size 2s;
}
