@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

li {
  all: unset;
}

.header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 24px 12px 24px;
}

.my-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.headline {
  background-image: url('images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: 100% 125%;
  background-color: #1c1a19;
  width: fit-content;
  height: 50vh;
  min-height: 505px;
  min-width: 350px;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  padding-top: 100px;
}

.headline h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 10px 0;
}

.headline p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.headline ul {
  display: flex;
  padding: 20px;
}

.headline ul li {
  padding: 10px;
}

/* Works section */

.works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  padding: 24px;
  padding-top: 120px;
}

.works-section .title {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.first-project {
  width: 327px;
  display: grid;
  justify-content: center;
}

.first-project .sub-title {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding-top: 24px;
  padding-bottom: 12px;
}

.first-project .description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.first-project .technologies {
  margin-top: 22px;
  margin-bottom: 34px;
}

.first-project .technologies li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  padding: 10px;
  margin-right: 12px;
  border: 1px solid #8993a4;
}

.first-project button {
  background: #ff6b00;
  width: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
}

.works-card {
  margin-top: 24px;
  display: grid;
  justify-content: center;
}

.card {
  background-image: url('images/works-card-image-mobile.png');
  background-repeat: no-repeat;
  height: 386px;
  width: 327px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 84px;
}

.card h4 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 16px;
}

.card p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 295px;
  margin: 2px 16px;
}

.card .technologies {
  padding: 16px;
}

.card .technologies li {
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
}

.card button {
  background: #ff6b00;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  padding: 12px 0;
  margin-top: 20px;
  width: 100%;
}

/* About me section */

.about-me {
  background: #1c1a19;
  background-image: url('./images/illustration-about-me-mobile.png');
  background-position: 100% 21%;
  background-repeat: no-repeat;
  height: auto;
  min-width: 350px;
  max-width: 375px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

.about-me .introduction {
  padding-bottom: 200px;
  border-bottom: 1px solid #fff;
}

.about-me h4 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 120px;
}

.about-me p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 0;
  padding-right: 60px;
}

.about-me button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: none;
  padding: 12px;
}

.profession {
  width: 100%;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.label-framework {
  gap: 25px;
}

.bullet {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.bullet.diamond {
  transform: rotate(-45deg);
}

.bullet.circle {
  border-radius: 50%;
}

.label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.profession ul {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profession .profession-lists li {
  margin-top: 16px;
}

/* Contact form */

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

form ul {
  display: flex;
  flex-direction: column;
}
