@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

li {
  all: unset;
}

.header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.my-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.headline {
  background-image: url("images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 125%;
  background-color: #000;
  width: fit-content;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  padding-top: 100px;
}

.headline h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 10px 0;
}

.headline p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.headline ul {
  display: flex;
  padding: 20px;
}

.headline ul li {
  padding: 10px;
}
